[Unit]
Description=nats
After=network.target

[Service]
Type=simple
ExecStart=/home/piegarden/deploy/nats/nats

Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target
